body {
    margin: 0;
    display: flex;
}

#crt-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    /*overflow-y: scroll;*/
}

#ws-container {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}

#crt-form, #styl-form {
    display: flex;
    flex-direction: column;
}

.crt-form-element {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.btn {
    min-width: 45px;
    padding: 10px;
    margin: 5px 0;
}

.input {
    font-size: 16px;
}

.crt-txtinput {
    padding: 10px;
}

.crt-select {
    height: 30px;
}

.styl-form-elment {
    display: flex;
}

.inp-num {
    width: 30px;
    height: 25px;
}