body {
    margin: 0;
    display: flex;
}

.all {
    cursor: pointer;
}

#crt-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    font-family: arial;
    background-color: #ccc;
}

#ws-container {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

#crt-form, #styl-form {
    display: flex;
    flex-direction: column;
}

.crt-form-element {
    display: flex; 
    flex-direction: column;   
    margin: 5px 0;
}

label {
    font-size: 13px;
    margin-bottom: 5px;
}

.btn {
    background-color: blue;
    padding: 5px 0;
    color: #FFF;
    font-size: 14px;
}

#toggle-crt-container {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #ccc;
}

.input {
    font-size: 14px;
    padding: 5px;
}

.crt-txtinput {
    padding: 10px;
}

.crt-select {
    height: 30px;
}

.styl-form-elment {
    display: flex;
    flex-direction: column;   
    margin: 5px 0;
}

.inp-num {
    width: 30px;
    height: 25px;
}